<div class="row">
  <div class="col-6 mt-3 pb-3 text-left">
    <%= link_to "ホーム", parks_path %> >> <%= link_to @park.park_name, park_path(@park.id) %> >> 投稿編集
  </div>
</div>

<% if @park.errors.any? %>
  <%= @park.errors.count %>error prohibited this pk from being saved:
  <ul>
    <% @park.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-10 offset-1 card mt-3">
    <div class="card-body">
      <h2 class="mb-5 d-flex justify-content-center">投稿編集フォーム</h2>
      <%= render "form", park: @park %>
    </div>
  </div>
</div>
  
<style>
  .card {
    background-color: ;
  }
  .card-body {
    background-color: #F7EAAD;
  }
</style>
    