<style>
  .card {
    background-color: #f7eaad;
  }
</style>


  <div class="row">
    <div class="col-3 mt-3 text-left">
      <span>ホーム</span>
    </div>
  </div>

  <br>
  <br>
  
  <div class="card mt-2">
    <h3>検索フォーム</h3>
    <div class="row">
      <div class="col-4 mb-5 offset-2">
        <div>
        <%= form_with url: parks_path, method: :get do |f| %>
          <div class="form-label texe-left">
            <%= f.label :search, "エリアで検索" %>
          </div>
          <%= f.search_field :address_keyword, value: params[:address_keyword] %>
          <%= f.submit "検索" %>
        <% end %>
        </div>
      </div>
      
      <div class="col-4 ml-3 mb-3">
        <div>
          <%= form_with url: parks_path, method: :get do |f| %>
            <div class="form-label texe-left">
              <%= f.label :search, "公園名で検索" %>
            </div>
            <%= f.search_field :park_name_keyword, value: params[:park_name_keyword] %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="card mt-5">
  <h3>タグ検索</h3>
  <div class="mb-5 text-center">
    <% @tag_list.each do |list|%>
      <%= link_to list.name, parks_path(tag_id: list.id) %>
      <%= "(#{list.parks.count})" %>
    <% end %>
  </div>
</div>


  <div class="bg-info mt-5" style="height:50vh;">
    <div id="map"></div>
  </div>

  <div class="mt-5">
    <h3>投稿一覧</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>投稿日</th>
          <th>公園名</th>
        </tr>
      </thead>
      <tbody>
        <% @parks.each do |park| %>
          <tr>
            <td><%= l park.created_at %></td>
            <td><%= link_to park.park_name, park_path(park.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<%= javascript_pack_tag 'map_index', 'data-turbolinks-track': 'reload' %>