
  <div class="row">
    <div class="col-5 mt-3 text-left">
      <%= link_to "ホーム", parks_path %> >> 新規投稿
    </div>
  </div>

  <% if @park.errors.any? %>
      <%= @park.errors.count %>error prohibited this pk from being saved:
      <ul>
        <% @park.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
  
  <div class="row">
    <div class="mt-3">
      <%= form_with model: @park, method: :post do |f| %>
        <h4>公園名称</h4>
        <%= f.text_field :park_name %>
    
        <h4>場所</h4>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-tenge-sign"></i></span>
          </div>
          <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号", id: "zipcode" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
          </div>
          <%= f.text_field :address, class: "form-control", placeholder: "住所", id: "post_image_address" %>
        </div>
    
        <h4>画像アップロード</h4>
        <%= f.file_field :image %>
    
        <h4>タグ付け</h4>
        <!-- チェックボックスでタグ内容を表示 -->
    
        <h4>公園紹介</h4>
        <%= f.text_area :park_introduction %><br>
        <%= f.submit '投稿' %>
      <% end %>
    </div>
  </div>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
