<div class="container-fluid">
  <div class="row">
    <div class="col-5 text-left">
      <%= link_to "ホーム", parks_path %> >> <%= @park.park_name %>
    </div>
  </div>

<div>
  <h2><%= @park.park_name %></h2>
  <%= link_to "投稿を編集", edit_park_path(@park.id) %>
</div>

<div>
  <h2>公園概要</h2>
  <h3>タグ</h3>
  <br>
  <br>
  <h3>公園紹介</h3>
  <%= @park.park_introduction %>
</div>