<div class="row">
  <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card mt-5">
      <div class="card-body">
        <h2 class="mb-5 d-flex justify-content-center">管理者ログイン</h2>

        <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
          <div class="field">
            <%= f.label "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field">
            <%= f.label "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label "入力内容を保持" %>
            </div>
          <% end %>
        
          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>


<%= render "admin/shared/links" %>
