<div class="row">
  <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card mt-5">
      <div class="card-body">
        <h2 class="mb-5 d-flex justify-content-center">ユーザー情報編集</h2>

        <%= form_for(@user, url: user_path(@user), method: :patch) do |f| %>
        
          <div class="mt-2">
            <%= f.label :"ユーザーネーム" %><br>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          
          <div class="mt-2">
            <%= f.label :"プロフィール画像" %><br>
            <%= f.file_field :profile_image, class: "form-control" %>
          </div>
        
          <div class="mt-4">
            <%= f.submit "変更を保存する", class: "btn btn-success btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
