<!DOCTYPE html>
<html>
  <head>
    <title>Dokoikopark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d78874b31e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-info text-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            <%= image_tag 'logo.png', alt:'サイトロゴ' %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <div class="mt-2 text-white">
            ようこそ、<%= current_user.name %>さん！
            </div>
            <li>
              <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
              <i class="fa-solid fa-user"></i> マイページ
              <% end %>
            </li>
            <li>
              <%= link_to new_park_path, class: "nav-link text-light" do %>
              <i class="fa-solid fa-pencil"></i> 新規投稿
              <% end %>
            </li>
            <li>
              <%= link_to parks_path, class: "nav-link text-light" do %>
              <i class="fa-solid fa-location-dot"></i> 投稿一覧
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>
            <% else %>
            <li>
              <%= link_to root_path, class: "nav-link text-light" do %>
              <i class="fa-solid fa-house"></i> ホーム
              <% end %>
            </li>
            <li>
              <%= link_to about_path, class: "nav-link text-light" do %>
              <i class="fa-solid fa-link"></i> このサイトについて
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
              <i class="fa-solid fa-user-plus"></i> 新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: "nav-link text-light" do %>
              <i class="fa-solid fa-right-to-bracket"></i> ログイン
              <% end %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
    <%= yield %>
    </div>
    <footer class="footer bg-info fixed-bottom text-light">
      <div class="container mt-2 mb-2 text-center"> ©2024 Sho_n.
      </div>
    </footer>
  </body>
</html>
